<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68990521985-vepslfv151isikll7imj3jmqj5obi57n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68990521985-vepslfv151isikll7imj3jmqj5obi57n</string>
	<key>API_KEY</key>
	<string>AIzaSyC1b7t3Tbbao3ubDJZlSghkPz3krYRMXNs</string>
	<key>GCM_SENDER_ID</key>
	<string>68990521985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.charpi</string>
	<key>PROJECT_ID</key>
	<string>charpaiproject</string>
	<key>STORAGE_BUCKET</key>
	<string>charpaiproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68990521985:ios:f3195227c527ef0984b380</string>
</dict>
</plist>